body {
	font-size: 100%;
}

input {
	width: 28vh;
	margin: 0.5vh 0 0.5vh 0.5vh;
	font-size: 1.1em;
	font-family: "Times New Roman", serif;
}

button {
	margin: 0.5vh;
	height: 6vh;
	width: 6vh;
	font-size: 1.1em;
	font-family: "Times New Roman", serif;
}